<a href="#" onclick="sfDoubleList.move('{{ form.get("id") }}_unselected','{{ form.get("id") }}_selected'); return false;">
    <i class="icon-chevron-right"></i>
</a>
<br />
<a href="#" onclick="sfDoubleList.move('{{ form.get("id") }}_selected','{{ form.get("id") }}_unselected'); return false;">
    <i class="icon-chevron-left"></i>
</a>
