language: php

sudo: false

cache:
    directories:
        - $HOME/.composer/cache

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - hhvm

matrix:
    include:
        - php: 5.6
          env: SYMFONY_VERSION='2.3.*'
        - php: 5.6
          env: SYMFONY_VERSION='2.7.*'
        - php: 5.6
          env: SYMFONY_VERSION='2.8.*@dev' SYMFONY_DEPRECATION_HELPER=strict
        - php: 5.6
          env: SYMFONY_VERSION='3.0.*@dev' SYMFONY_DEPRECATION_HELPER=strict

env:
    - SYMFONY_DEPRECATION_HELPER=weak

before_install:
    - composer self-update
    - if [ "$SYMFONY_VERSION" != "" ]; then composer require --no-update symfony/symfony:${SYMFONY_VERSION}; fi

install: composer update --prefer-dist

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/4235a4d7b989b3e1ac53
    on_success: change
    on_failure: always
    on_start: false
