
{% extends "::base.html.twig" %}

{% block body %}{% block list_title %}   
<head>
    <h1>Here is a beautifull title no  ???</h1>
</head>
{% endblock %}
<table>{% block list_thead %}   
    <thead>
        <tr class="list_thead">
        
                        
            <th class="list_thead_column">id</th>
            
                        
            <th class="list_thead_column">title</th>
            
                        
        </tr>
    </thead>
{% endblock %}   
{% block list_tbody %}
    <tbody>
        {% for Movie in Movies %}
        <tr class="list_trow">{% block list_row %}
            <td>
            {{ Movie.id }}
        </td>
            <td>
            {{ Movie.title }}
        </td>
    {% endblock %}
</tr>
        {% endfor %}
    </tbody>
{% endblock %}   
</table>
    
    
{% endblock %}