{% extends base_admin_template %}

{% block body %}    
    <div class="row-fluid">
      <div class="span3">
        <div class="well well-small sidebar-nav">
          {{ knp_menu_render('dashboard') }}
        </div><!--/.well -->
      </div><!--/span-->
      <div class="span9">
          {% block content %}
          {% endblock %}
      </div><!--/span-->
    </div><!--/row-->
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/admingenerator/enable-prettify.js') }}"></script>
{% endblock %}