<div class="singleupload-controls-wrapper">
    <div class="btn-wrapper">
        <button type="reset" class="btn btn-warning cancel" style="display: none;">
            <i class="icon-ban-circle icon-white"></i>
            <span> {{ 'upload.cancel'|trans({}, 'Admingenerator') }}</span>
        </button>
    </div>
    <div class="btn-wrapper">
        <button type="button" class="btn btn-danger delete" style="display: none;">
            <i class="icon-trash icon-white"></i>
            <span> {{ 'upload.delete'|trans({}, 'Admingenerator') }}</span>
        </button>
    </div>
</div>