{% block list_row %}
{{ echo_block("list_row") }}
    {% for column in builder.columns %}
        <td>
            {{ echo_twig(builder.ModelClass ~ '.' ~ column.getter) }}
        </td>
    {% endfor %}
{{ echo_endblock() }}
{% endblock %}
