{% if allow_delete %}
    <a class="btn btn-danger batch-delete">
        <i class="icon-trash icon-white"></i> {{ 'batch.delete.label'|trans({}, 'Admingenerator') }}
    </a>
    <label class="btn btn-toggle disabled input-append">
        <input type="checkbox" name="toggle">
    </label>
{% endif %}