{% block list_paginator %}
{{ echo_block("list_paginator") }}
    <div class="pagination pagination-right" style="margin-top: 0px;">
        {{ echo_twig("pagerfanta(" ~ builder.ModelClass ~ "s, 'admingenerator')") }}
    </div>
{{ echo_endblock() }}
{% endblock %}
