{% use 'CommonAdmin/ListTemplate/Column/boolean.php.twig' %}
{% block list_row %}
{{ echo_block("list_row") }}
    {% for column in builder.columns %}
        <td>
            {% if column.dbType == "boolean" %}
                {{- block('column_boolean') -}}
            {% else %}
                {{ echo_twig(builder.ModelClass ~ '.' ~ column.getter) }}
            {% endif %}
        </td>
    {% endfor %}
{{ echo_endblock() }}
{% endblock %}
