/**
 * Filters builder specific CSS
 */

[role="filters-toggle"],
[role="filters-group-toggle"] {
    cursor: pointer;
}

[role="filters-toggle"] > h3 > .fa-caret-down,
[role="filters-toggle"].collapsed > h3 > .fa-caret-right {
	display: inline-block;
}

[role="filters-toggle"] > h3 > .fa-caret-right,
[role="filters-toggle"].collapsed > h3 > .fa-caret-down {
	display: none;
}

[role="filters-panel"] > .panel-body > .bs-callout {
	margin-top: 0;
	margin-bottom: 0;
}

[role="filters-root-list"] {
    margin-bottom: 0 !important;
}

[role="filters-group"]:first-of-type {
    margin-top: 20px;
}

[role="filters-group"] > .panel-collapse > .panel-footer {
	border-top: 1px solid #ddd;
}

[role="filters-group-panel"] > table {
	margin-bottom: 0px;
}
