{% extends 'AdmingeneratorGeneratorBundle:Dashboard:dashboard.html.twig' %}

{% block title %}
    Installation
{% endblock %}

{% block content %}
<header>
    <h1>Installation <small>via composer</small></h1>
</header>
<hr />

<h3>1. Download files</h3>

<p>Add Admingenerator to your <code>composer.json</code>:</p>

<pre class="prettyprint lang-js">"require": {
    "cedriclombardot/admingenerator-generator-bundle": "dev-master"
},</pre>

<p>Then run <code>php composer.phar update</code> command.</p>

<div class="alert alert-info alert-block">
  <p><b>Note:</b> If you're getting <b>no matching package found</b> error then you must also
    add <code>"minimum-stability": "dev"</code> to your <b>composer.json</b> file.
  </p>
</div>
    
<h3>2. Enable bundles</h3>

<p>Admingenerator has a dependency on KnpMenuBundle and WhiteOctroberPagerfantaBundle</p>

<p>Enable Admingenerator and its dependencies in your <code>app/AppKernel.php</code>:</p>

<pre class="prettyprint lang-php">public function registerBundles()
{
    $bundles = array(
        // ...
        new Admingenerator\GeneratorBundle\AdmingeneratorGeneratorBundle(),
        new Knp\Bundle\MenuBundle\KnpMenuBundle(),
        new WhiteOctober\PagerfantaBundle\WhiteOctoberPagerfantaBundle(),
    );
}</pre>

<h3>3. Basic configuration</h3>

<p>Choose your model manager - add following lines to <code>app/config/config.yml</code>:</p>

<pre class="prettyprint lang-yml">admingenerator_generator:
    # choose only one
    use_propel:           false
    use_doctrine_orm:     true
    use_doctrine_odm:     false
</pre>

<p>Enable translation of KnpMenu - add following lines to <code>app/config/config.yml</code>:</p>

<pre class="prettyprint lang-yml">knp_menu:
    twig:
        template: AdmingeneratorGeneratorBundle:KnpMenu:knp_menu_trans.html.twig
</pre>
    
{% endblock %}