{% extends 'AdmingeneratorGeneratorBundle:Dashboard:dashboard.html.twig' %}

{% block title %}
    Installation
{% endblock %}

{% block content %}       
    {% block page_title %}
        <header>
            <h1>Installation</h1>
            <p class="muted">{{ 'documentation.commands.message'|trans({}, 'Admingenerator')|raw }}</p>
        </header>
    {% endblock %}
    <div class="row-fluid">
          
    </div><!--/row-->
{% endblock %}