{% extends 'AdmingeneratorGeneratorBundle:Dashboard:dashboard.html.twig' %}

{% block title %}
    Documentation - Nested List
{% endblock %}

{% block content %}       
    {% block page_title %}
        <header>
            <h1>Documentation - Nested List</h1>
            <p class="muted">Supports DoctrineORM and Propel.</p>
        </header>
    {% endblock %}
    <div class="row-fluid">
          Lorem ipsum
    </div><!--/row-->
{% endblock %}