<script id="{{ id ~ '_download_template' }}" type="text/x-tmpl">
{% raw %}
 {% for (var i=0, file; file=o.files[i]; i++) { %}
{% endraw %}
    <tr class="template-download fade">
        {% raw %}
        {% if (file.error) { %}
        {% endraw %}
            <td></td>
            <td class="name"><span>{% raw %}{%=file.name%}{% endraw %}</span></td>
            <td class="size"><span>{% raw %}{%=o.formatFileSize(file.size)%}{% endraw %}</span></td>
            <td class="error" colspan="2">
                <span class="label label-important">
                {{ 'upload.error'|trans({}, 'Admingenerator') }}
                </span> {% raw %}{%=file.error%}{% endraw %}
            </td>
        {% raw %}
        {% } else { %}
        {% endraw %}
            <td class="preview">
                {% raw %}
                {% if (file.thumbnail_url) { %}
                    <a href="{%=file.url%}" 
                       title="{%=file.name%}" 
                       rel="gallery" 
                       download="{%=file.name%}">
                      <img src="{%=file.thumbnail_url%}"></a>
                {% } %}
                {% endraw %}
            </td>
            <td class="name">
                {% raw %}
                <a href="{%=file.url%}" 
                   title="{%=file.name%}" 
                   rel="{%=file.thumbnail_url&&'gallery'%}" 
                   download="{%=file.name%}">{%=file.name%}</a>
                {% endraw %}
            </td>
            <td class="size"><span>{% raw %}{%=o.formatFileSize(file.size)%}{% endraw %}</span></td>
            <td colspan="2"></td>
        {% raw %}
        {% } %}
        {% endraw %}
        <td class="delete">
            <button class="btn btn-danger" 
            {% raw %}data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% endraw %}>
                <i class="icon-trash icon-white"></i>
                <span>Delete</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>
    </tr>
{% raw %}
{% } %}
{% endraw %}
</script>